.header {
  background-color: #3963c3;
  color: white;
  border-bottom: 1px solid #ffffff50;
}
.head-btn Button {
  margin-left: 10px;
  border: 0.5px solid white;
}
.adjustmentbar {
  background: #3963c3;
}
.changeslide Button {
  border: 0.3px solid #ffffff;
  margin-right: 16px;
}

.annotate p {
  font-size: small;
  text-align: center;
}
