.header {
  background-color: #3963c3;
  color: white;
  border-bottom: 1px solid #ffffff50;
}
.head-btn Button {
  margin-left: 10px;
  border: 0.5px solid white;
}
.adjustmentbar {
  background: #3963c3;
}
.changeslide Button {
  border: 0.3px solid #ffffff;
  margin-right: 16px;
}
.annotate p {
  font-size: small;
  text-align: center;
}

@media screen and (max-width: 2560px) {
  .dashboard__header {
    font-size: 2em;
    width: 60em;
    margin-left: 3em;
  }
  .dashboard__menu {
    width: 18em;
    font-size: large;
  }
  .recently__viewed {
    width: 65em;
    height: 30em;
    margin-left: 8em;
    margin-right: 1em;
  }
  .recently__viewed__title {
    font-size: 1.5em;
  }
  .recently__viewed__table {
    size: "md";
  }
  .new__assign {
    width: 65em;
    height: 22em;
    margin-left: 8em;
    margin-right: 1em;
  }
  .new__assign__title {
    font-size: 1.5em;
  }
  .last__reports {
    width: 28em;
    height: 22em;
  }
  .last__task {
    width: 28em;
    height: 30em;
  }
  .last__task__img {
    height: 15em;
    width: 24em;
  }
  .logout__btn {
    margin-left: 1em;
  }
}

@media screen and (max-width: 1920px) {
  .dashboard__header {
    font-size: 2em;
    width: 47em;
    margin-left: 0;
  }
  .dashboard__menu {
    width: 10em;
  }
  .recently__viewed {
    width: 50em;
    height: 21em;
    margin-left: 1.5em;
  }
  .recently__viewed__title {
    font-size: large;
  }
  .recently__viewed__table {
    size: "sm";
  }
  .new__assign {
    width: 50em;
    height: 18em;
    margin-left: 1.5em;
  }
  .new__assign__title {
    font-size: large;
  }
  .last__reports {
    width: 22em;
    height: 18em;
  }
  .last__reports__title {
    font-size: 15px;
  }
  .last__task {
    width: 22em;
    height: 21em;
  }
  .last__task__img {
    height: 9em;
    width: 15em;
    margin-left: 35px;
    margin-bottom: 5px;
  }
  .last__task__head {
    font-size: 15px;
  }
  .last__task__title {
    font-size: 12px;
  }
  .view__report {
    width: 8px;
  }
  .logout__btn {
    margin-left: 1em;
  }
}

@media screen and (max-width: 1440px) {
  .dashboard__header {
    font-size: 2em;
    width: 35em;
    margin-left: 0;
  }
  .dashboard__menu {
    width: 8em;
  }
  .recently__viewed {
    width: 36em;
    height: 19em;
    margin-left: 1.5em;
  }
  .recently__viewed__title {
    font-size: large;
  }
  .recently__viewed__table {
    size: "sm";
  }
  .new__assign {
    width: 36em;
    height: 14em;
    margin-left: 1.5em;
  }
  .new__assign__title {
    font-size: large;
  }
  .last__reports {
    width: 16em;
    height: 14em;
  }
  .last__reports__title {
    font-size: 13px;
  }
  .last__task {
    width: 16em;
    height: 19em;
  }
  .last__task__img {
    height: 7em;
    width: 12em;
    margin-left: 1em;
    margin-bottom: 5px;
  }
  .last__task__head {
    font-size: 15px;
  }
  .last__task__title {
    font-size: 15px;
  }
  .view__report {
    display: none;
  }
  .logout__btn {
    margin-left: 1em;
  }
}

@media screen and (max-width: 1280px) {
  .dashboard__header {
    font-size: 2em;
    width: 830px;
    margin-left: 0;
  }
  .dashboard__menu {
    width: 8em;
  }
  .recently__viewed {
    width: 32em;
    height: 17em;
    margin-left: 1.5em;
  }
  .recently__viewed__title {
    font-size: large;
  }
  .recently__viewed__table {
    size: "sm";
  }
  .new__assign {
    width: 32em;
    height: 12em;
    margin-left: 1.5em;
  }
  .new__assign__title {
    font-size: large;
  }
  .last__reports {
    width: 14em;
    height: 12em;
  }
  .last__reports__title {
    font-size: 13px;
  }
  .last__task {
    width: 14em;
    height: 17em;
  }
  .last__task__img {
    height: 7em;
    width: 12em;
    margin-left: 1em;
    margin-bottom: 5px;
  }
  .last__task__head {
    font-size: 15px;
  }
  .last__task__title {
    font-size: 15px;
  }
  .view__report {
    display: none;
  }
  .logout__btn {
    margin-left: 1em;
  }
}