.header {
  background-color: #151515;
  color: white;
  border-bottom: 0.3px solid #ffffff;
}
.head-btn Button {
  margin-left: 10px;
  border: 0.5px solid white;
}
.adjustmentbar {
  background: #212121;
}
.adjustmentbar Button {
  margin-right: 15px;
  border: 0.5px solid white;
}
.changeslide Button {
  border: 0.3px solid #ffffff;
  margin-right: 16px;
}