[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
numpy = "*"
pandas = "*"
scikit-image = "*"
opencv-contrib-python = "*"
tensorflow = "==2.5.0"

[dev-packages]

[requires]
python_version = "3.7"
